/**
 * Custom application style
 * TODO: This style file has disagreements and needs to be refactored
 */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	padding: 0px;
}

.bg-light {
	background-color: #fff !important;
}

.navbar-brand {
	font-size: 1.45rem;
}

.navbar-brand img {
	height: 50px;
}

.wsc-cart-container {
	margin-top: 100px;
}

.wsc-cart-message {
	text-align: center;
	font-size: 1rem;
	margin: 30px 0;
	color: #999;
	width: 100%;
}

.wsc-banner {
	width: 100%;
	height: 100px;
	max-width: 100%;
}

.wsc-catalog .wsc-info .wsc-info-name {
	text-align: center;
	font-size: 1rem;
	color: #000;
	line-height: 1.2em;
	font-weight: 600;
}

.wsc-catalog .wsc-catalog-item {
	margin-top: 25px !important;
}

.wsc-catalog .wsc-info .wsc-info-price {
	text-align: center;
	font-size: 1.6rem;
	color: #a82472;
}

.wsc-catalog {
	margin-top: 30px;
}

.wsc-footer {
	margin-top: 50px;
	padding: 40px 0px 20px 0px;
	border-top: 1px solid #eaeaea;
}

.wsc-footer .wsc-footer-logo {
	text-align: center;
}

.wsc-footer .wsc-footer-logo span {
	font-size: .75rem;
	text-transform: lowercase;
	color: #999;
}

.wsc-footer .wsc-footer-logo img {
	height: 35px;
}

.col-item {
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	background: #FFF;
}

.col-item .photo img {
	margin: 0 auto;
	width: 100%;
}

.col-item .info {
	padding: 10px;
	border-radius: 0 0 5px 5px;
	margin-top: 1px;
}

.col-item:hover .info {
	
}

.col-item:hover {
	border-color: #a82472;
}

.col-item .price h5 {
	font-size: .95rem;
	line-height: 20px;
	margin: 0;
}

.price-text-color {
	color: #a82472;
	font-weight: 600;
	font-size: 1.2rem !important;
	text-align: center;
	margin: .6rem 0 !important;
}

.col-item .info .rating {
	color: #777;
}

.col-item .rating {
	/*width: 50%;*/
	float: left;
	/* font-size: 17px; */
	text-align: right;
	line-height: 52px;
	margin-bottom: 10px;
	height: 52px;
}

.clear-left {
	clear: left;
}

.col-item .separator p {
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

.col-item .separator p i {
	margin-right: 5px;
}

.col-item .btn-add {
	
}

.col-item .btn-details {
	width: 50%;
	float: left;
	padding-left: 10px;
}

.w-btn-cart {
	background: #7fbc44;
	color: #fff;
	padding: 6px 12px 6px 8px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: .8rem;
}

.w-btn-cart i {
	line-height: .6;
	display: table-caption;
	font-size: 1.1rem;
	margin: 0px;
	padding: 0px;
	font-weight: 600;
}

.w-btn-details i {
	line-height: .6;
	display: table-caption;
	font-size: 1.1rem;
	margin: 0px;
	padding: 0px;
}

.w-btn-details {
	text-transform: uppercase;
	font-weight: 600;
}

.w-nav-btn-cart i {
	line-height: .8;
	font-size: 1.1rem;
	margin: 0px;
	padding: 0px;
}

nav {
	box-shadow: 0px 0px 7px 0px #999;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
}

.product-image {
	float: left;
	width: 10%;
}

.product-details {
	float: left;
	width: 46%;
}

.product-price {
	float: left;
	width: 12%;
}

.product-quantity {
	float: left;
	width: 10%;
}

.product-removal {
	float: left;
	width: 9%;
}

.product-line-price {
	float: left;
	width: 12%;
	text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before,
	.totals-item:before, .group:after, .shopping-cart:after, .column-labels:after,
	.product:after, .totals-item:after {
	content: '';
	display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after,
	.totals-item:after {
	clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
	zoom: 1;
}

/* Body/Header stuff */
body {
	font-weight: 100;
}

h1 {
	font-weight: 100;
}

label {
	color: #aaa;
}

.shopping-cart {
	margin-top: -45px;
}

/* Column headers */
.column-labels label {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.column-labels .product-image, .column-labels .product-details,
	.column-labels .product-removal {
	text-indent: -9999px;
}

/* Product entries */
.product {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.product .product-image {
	text-align: center;
}

.product .product-image img {
	width: 80px;
}

.product .product-details .product-title {
	margin-right: 20px;
}

.product .product-details .product-description {
	margin: 5px 20px 5px 0;
	line-height: 1.4em;
}

.product .product-quantity input {
	width: 45px;
	padding: 6px 2px 6px 7px;
	border-radius: 3px;
	border: 1px solid #aaa;
}

.product .product-quantity input:hover {
	border-color: #a82472;
}

.product .remove-product {
	border: 0;
	padding: 6px 8px;
	background-color: #fff;
	color: red;
	font-size: 12px;
	border-radius: 3px;
	border: 1px solid red;
}

.product .remove-product:hover {
	background-color: #a44;
}

/* Totals section */
.totals .totals-item {
	float: right;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

.totals .totals-item label {
	float: left;
	clear: both;
	width: 79%;
	text-align: right;
}

.totals .totals-item .totals-value {
	float: right;
	width: 21%;
	text-align: right;
}

.totals .totals-item-total {
	
}

.checkout:hover {
	background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
	.shopping-cart {
		margin: 0;
		padding-top: 20px;
		border-top: 1px solid red;
	}
	.column-labels {
		display: none;
	}
	.product-image {
		float: right;
		width: auto;
	}
	.product-image img {
		margin: 0 0 10px 10px;
	}
	.product-details {
		float: none;
		margin-bottom: 10px;
		width: auto;
	}
	.product-price {
		clear: both;
		width: 70px;
	}
	.product-quantity {
		width: 100px;
	}
	.product-quantity input {
		margin-left: 20px;
	}
	.product-quantity:before {
		content: 'x';
	}
	.product-removal {
		width: auto;
	}
	.product-line-price {
		float: right;
		width: 70px;
	}
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
	.product-removal {
		float: right;
	}
	.product-line-price {
		float: right;
		clear: left;
		width: auto;
		margin-top: 10px;
	}
	.totals .totals-item label {
		width: 60%;
	}
	.totals .totals-item .totals-value {
		width: 40%;
	}
}

.w-btn-remove-product {
	border: 1px solid red;
	color: red;
	background: #fff;
	padding: 6px 5px;
	border-radius: 3px;
	font-size: .7rem;
	text-transform: uppercase;
	font-weight: 400;
}

.w-btn-remove-product i {
	line-height: .6;
	display: -webkit-inline-box;
	font-size: 1.1rem;
	margin: 0px;
	padding: 0px;
	font-weight: 600;
}

.w-product-price-label {
	font-size: 1.2rem;
}

.price-label {
	color: #a82472;
}

.wsc-empty-cart{
	margin-top: 60px;
}